.profile__edit-button {
	margin-left: 18px;
  margin-top: 5px;
	width: 24px;
	height: 24px;
	border: 1px solid #FFFFFF;
	background-color: #000;
	background-image: url(../../../images/profile-edit.svg);
	background-size: 10px;
	background-position: center;
	background-repeat: no-repeat;
	align-self: center;
}

@media (max-width: 899px) {
	.profile__edit-button {
		 margin: 0 9px;
		 width: 18px;
		 height: 18px;
		 background-size: 8px;
	}
}

.profile__edit-button:hover {
	opacity: 60%;
	transition: opacity .5s ease-in-out;
	cursor: pointer;
}
