.footer {
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	margin-top: 66px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #545454;
}

@media (max-width: 680px) {
	.footer {
		 margin-top: 48px;
	}
}